#containerForm {
    width: 31%;
    height: 52%;
    position: absolute;
    bottom: 25%;
    right: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #0e183a;
    color: #ffffff;
    border-radius: 20px;
    font-size: 18px;
}

#containerForm #formAddTask {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#containerForm h3 {
    padding-bottom: 20px;
}

#containerForm #formAddTask>label,
input,
textarea {
    width: 80%;
    border-radius: 10px;
    border: #0e183a solid 1px;
    font-size: 15px;
}

#containerForm #formAddTask>button {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    align-self: center;
    background-color: #ffffff;
    color: #0e183a;
    border: #0e183a solid 1px;
}

#containerForm #formAddTask>label {
    text-align-last: left;
    border-bottom: solid #ffffff 1px;
}

#closeForm {
    position: absolute;
    top: 17px;
    right: 22px;
    border-radius: 50%;
    width: 5%;
    height: 5%;
    background-color: #ffffff;
    color: #0e183a;
    border: #0e183a solid 1px;
    font-size: 14px;
}

.active {
    display: none !important;
}